@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

html {
  font-family: "Montserrat", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 16px;
}

.title_block {
  text-align: center;
}

.title_block h1 {
  font-size: 36px;
  font-weight: 300;
  color: #424a55;
  line-height: 1;
  margin-bottom: 22px;
}

.title_block p {
  color: #7c8993;
  font-size: 18px;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #017fd5;
  margin-top: 85px;
}

.tabs .tab-item {
  position: relative;
}

.tabs .tab-item a {
  display: inline-block;
  padding: 16px 28px;
  font-size: 18px;
  color: #017fd5;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  text-decoration: none;
  font-weight: 500;
  text-align: center;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .tabs .tab-item a {
    font-size: 14px;
    padding: 16px 6px;
  }
}

.tabs .tab-item:after {
  position: absolute;
  content: '';
  width: 24px;
  height: 24px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent transparent #017fd5 #017fd5;
  bottom: -12px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(-45deg);
          transform: translateX(-50%) rotate(-45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  opacity: 0;
  background: #ffffff;
  z-index: 1;
}

.tabs .tab-item.active a {
  font-size: 24px;
  color: #424a55;
}

@media only screen and (max-width: 1024px) {
  .tabs .tab-item.active a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 768px) {
  .tabs .tab-item.active a {
    font-size: 14px;
  }
}

.tabs .tab-item.active:after {
  opacity: 1;
}

.tabs .tab-item.active:hover {
  background-color: transparent;
}

.tabs .tab-item:hover {
  background-color: #f9f7f9;
}

.tab-contents {
  padding: 7px 32px 32px 32px;
}

@media only screen and (max-width: 768px) {
  .tab-contents {
    padding: 7px 15px 15px;
  }
}

.tab-contents .tab-content {
  display: none;
}

.tab-contents .tab-content.active {
  display: block;
}

.signpost {
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  height: 387px;
  border: 1px solid #ececec;
  position: relative;
}

.signpost_img {
  min-height: 200px;
  max-height: 200px;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.signpost_img img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  width: 100%;
  border-radius: 4px 4px 0 0;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.signpost_img span {
  position: relative;
}

.signpost_img span:after {
  content: '';
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(images/mike.svg) no-repeat center;
  background-size: cover;
  width: 40px;
  height: 40px;
  top: -44px;
  opacity: 0.5;
}

.signpost_data {
  padding: 20px 32px;
}

@media only screen and (max-width: 768px) {
  .signpost_data {
    padding: 20px;
  }
}

.signpost_data h3 {
  font-size: 18px;
  line-height: 1.333;
  margin: 0 0 15px 0;
  color: #424a55;
  font-weight: 500;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.signpost_data span {
  display: inline-block;
  width: 100%;
  position: relative;
  color: #7c8993;
  font-size: 14px;
  line-height: 1.5;
  padding-left: 30px;
  font-weight: 500;
}

.signpost_data span + span {
  margin-top: 10px;
}

.signpost_data span:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
}

.signpost_data span.post:before {
  background: url(images/icon-post.png) no-repeat center;
}

.signpost_data span.date:before {
  background: url(images/icon-date.png) no-repeat center;
}

.signpost_data span.adderess:before {
  background: url(images/icon-location.png) no-repeat center;
}

.signpost_share {
  border-top: 1px solid #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.signpost_share a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 13px 15px;
  width: 100%;
  height: 50px;
}

.signpost_share a img {
  -webkit-filter: brightness(0.1);
          filter: brightness(0.1);
  opacity: 0.4;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.signpost_share a + a {
  border-left: 1px solid #ececec;
}

.signpost_share a.view {
  font-size: 16px;
  color: #0b80cf;
  font-weight: 500;
  text-decoration: none;
  white-space: nowrap;
}

.signpost_share a.view:hover {
  color: #005289;
}

.signpost_share a:hover img {
  -webkit-filter: none;
          filter: none;
  opacity: 1;
}

.signpost_content {
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  width: 100%;
  border-top: 1px solid #ececec;
  position: absolute;
  width: 100%;
  bottom: -51px;
}

.signpost:hover {
  -webkit-box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 16px 5px rgba(0, 0, 0, 0.1);
}

.signpost:hover .signpost_content {
  bottom: 0;
}

.signpost:hover .signpost_img img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.signpost_content {
  background: #ffffff;
}

.slick-slide {
  margin: 0 16px;
}

/* the parent */
.slick-list {
  margin: 0 -16px;
  padding-bottom: 25px;
  padding-top: 25px;
}

.slick-arrow {
  font-size: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  background: none;
  width: 20px;
  height: 20px;
}

.slick-arrow:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-width: 3px;
  border-style: solid;
  border-color: transparent transparent #9ba5ac #9ba5ac;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  cursor: pointer;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.slick-arrow.slick-prev {
  left: -50px;
}

.slick-arrow.slick-prev:before {
  left: 0;
}

@media only screen and (max-width: 1280px) {
  .slick-arrow.slick-prev {
    left: -30px;
  }
}

.slick-arrow.slick-next {
  right: -50px;
}

.slick-arrow.slick-next:before {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  right: 0;
}

@media only screen and (max-width: 1280px) {
  .slick-arrow.slick-next {
    right: -30px;
  }
}

.slick-arrow:hover:before {
  border-color: transparent transparent #0b80cf #0b80cf;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 14px;
  padding: 0;
  margin-top: 30px;
}

.slick-dots li {
  list-style: none;
}

.slick-dots li.slick-active button {
  background: #017fd5;
}

.slick-dots li button {
  font-size: 0;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #017fd5;
  border-radius: 100%;
}
/*# sourceMappingURL=style.css.map */